.profilBig
{
	height : 50px;
	width : 50px;
	
}
#recherche
{
	float : left;
	margin-left : 20px;
}
.retouches
{
	display: table;
  width: 100%;
  height: 100vh;
  background-image: url('1.jpg');
  background-size : cover;
  padding-top : 130px;

}

.panel-body ul
{
	list-style-type : none;
}
.panel-center 
{
	margin : auto;
}
.researchFloat
{
	float:right;
}
.researchFloat img
{
	width : 50px;
}
.floatLeft
{
	float:left;
}
.floatRight
{
	float:right;
}
.flexed

{
	display : flex;
}
.resultats
{
	margin-bottom: 20px;
}
.modal-dialog
{
	width : auto;
	max-width:  95%;
}
th, td {
    padding: 10px;
}
table
{
border-spacing: 10px;
}
#heading-styling
{
	display : flex;
	justify-content: space-between;
	padding-bottom: 0px;
}
.links-pagination
{
	margin-left : 50%;
	font-size : 1.5em;
	font-weight : bold;
	background-color : white;
	display:inline-block; 
	border-radius : 10px;
	border : solid olive 1px;
	margin-bottom : 20px;
}
.box
{
	word-break: break-word;
}