.profilBig
{
	height : 50px;
	width : 50px;
	
}
#recherche
{
	float : left;
	margin-left : 20px;
}
.retouches
{
	display: table;
  width: 100%;
  height: 100vh;
  background-image: url('1.jpg');
  background-size : cover;
  padding-top : 130px;

}

.panel-body ul
{
	list-style-type : none;
}
.panel-center 
{
	margin : auto;
}
